.columtabcronotaito label{cursor:pointer}
.columtabcronotaito input{display:none}

.columtabcronotaito label span{
    display:block;
    cursor:pointer;
}

.columtabcronotaito label:has(input:checked) span{
    background:var(--taito1);
    color:#fff;
}

.contenido-crono{display:none}

#cronoTaito:has(.columtabcronotaito label:nth-child(1) input:checked) .social{display:block}
#cronoTaito:has(.columtabcronotaito label:nth-child(2) input:checked) .aventuras{display:block}
#cronoTaito:has(.columtabcronotaito label:nth-child(3) input:checked) .combates{display:block}
#cronoTaito:has(.columtabcronotaito label:nth-child(4) input:checked) .eventos{display:block}
