#cronoTaito br {
    display: none;
}
.columtabcronotaito label {
    cursor: pointer;
    width: 100%;
    border: 1px solid var(--taito3);
}
.columtabcronotaito input {
    display: none;
}

.columtabcronotaito label span {
    display: block;
    cursor: pointer;
}
.columtabcronotaito span {
    display: flex !important;
    font-size: 1.2rem;
    font-family: var(--font2taito);
    font-weight: bold;
    padding: 10px;
    letter-spacing: 2px;
    transition: 0.5s linear;
    align-items: center;
    justify-content: space-between;
    height: 25px;
}
.columtabcronotaito span:hover {
    background: var(--taito4);
    color: var(--taito2);
}

.columtabcronotaito .input-social:checked + span,
.columtabcronotaito .input-aventuras:checked + span,
.columtabcronotaito .input-combates:checked + span,
.columtabcronotaito .input-eventos:checked + span {
background: var(--taito5);
    color: var(--taito4);
}

.columtabcronotaito .input-social:checked + span .game-icon,
.columtabcronotaito .input-aventuras:checked + span .game-icon,
.columtabcronotaito .input-combates:checked + span .game-icon,
.columtabcronotaito .input-eventos:checked + span .game-icon {
    color: var(--taito1);
    font-size: 40px;
}

.contenido-crono {
    display: none;
}

#cronoTaito:has(.input-social:checked) .social {
    display: block;
}

#cronoTaito:has(.input-aventuras:checked) .aventuras {
    display: block;
}

#cronoTaito:has(.input-combates:checked) .combates {
    display: block;
}

#cronoTaito:has(.input-eventos:checked) .eventos {
    display: block;
}

#cronoTaito {
    width: 700px;
    border: 10px solid var(--taito3);
    outline: 1px solid var(--taito1);
    position: relative;
    overflow: hidden;
}
.columtabcronotaito {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, var(--taito1), var(--taito2));
    color: var(--taito4);
    position: relative;
    gap: 5px;
    padding: 10px;
}
.columtabcronotaito .game-icon {
    font-size: 24px;
    transition: 0.5s linear;
}
.contenedorcronotaito {
    padding: 10px;
    height: 400px;
    overflow: auto;
}
.titlecrono {
    text-align: right;
    padding: 20px;
    font-family: var(--font1taito);
    font-size: 50px;
    background: linear-gradient(to right, var(--taito2), var(--taito5));
    padding-bottom: 0;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.datecronotaito {
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--taito1), transparent 60%);
}
.frasecrono {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    padding-top: 0;
    gap: 10px;
    font-family: var(--font2taito);
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    width: 40%;
    color: var(--taito5);
    opacity: 0.5;
}

.frasecrono .fa-solid {
    font-size: 30px;
    color: var(--taito2);
}

.contenido-crono {
    text-align: left;
    border: 1px solid var(--taito3);
    position: relative;
    overflow: hidden;
}
.titulofechacrono span {
    font-family: var(--font2taito);
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--taito2);
}
.titulofechacrono {
    padding: 10px;
    border-bottom: 1px solid var(--taito3);
    display: flex;
    line-height: 1;
    font-family: var(--font1taito);
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}
.temas a {
    color: var(--taito2);
    padding: 10px;
    border-right: 1px solid var(--taito3);
    background: var(--taito4);
    height: stretch;
    display: flex;
    align-items: center;
}
.temas {
    display: flex;
    margin: 10px;
    border: 1px solid var(--taito3);
    gap: 5px;
    position: relative;
    font-size: 20px;
    font-family: var(--font2taito);
    align-items: center;
    height: 70px;
    overflow: hidden;
}
span.titulotema strong {
    letter-spacing: 0;
    font-family: var(--font2taito);
    font-size: 20px;
}
span.titulotema {
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: 10px;
    font-family: arial;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 5px;
    width: 50%;
}
span.participantetema {
    position: absolute;
    right: 0;
    font-size: 10px;
    font-family: arial;
    text-transform: uppercase;
    padding: 0px 10px;
    border-left: 1px solid var(--taito3);
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 240px;
}
.contenedorcronotaito{scrollbar-width: thin;scrollbar-color: var(--taito2) var(--taito4);}
