#firmamiyori {
    width: 350px;
    height: 350px;
    margin: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    position: relative;
    color:white;
}
.boxphrase img {
    width: 100px;
    height: 100px;
    padding: 20px;
    background: linear-gradient(45deg, var(--gg1), var(--gg3));
    border-radius: 40px;
}
.boxphrase {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    width:100%;
}
.imagen1 {
    background: var(--gg1);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top-left-radius: 0;
}
.imagen3 {
    background: var(--bg1);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom-left-radius: 0;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.imagen4 {
    background: var(--gg1);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom-right-radius: 0;
}
.boxphrase span {
    font-size: 8px;
    font-family: var(--fontg2);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    background: linear-gradient(to left, var(--gg2), transparent);
    border-radius: 20px;
}
.imagen2 {
    background: var(--bg2);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top-right-radius: 0;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-position: center;
}
.imagen2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--gg3), transparent);
}
.imagen3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--gg3), transparent);
}
span.nameuser {
    position: absolute;
    font-size: 40px;
    background: transparent;
    font-family: var(--fontg1);
    display: flex;
    width: 200px;
}
span.nameuser {
    position: absolute;
    font-size: 40px;
    background: transparent;
    font-family: var(--fontg1);
    display: flex;
    width: 400px;
    text-transform: capitalize;
    font-weight: 100;
    line-height: 0.8;
    text-align: center;
    justify-content: center;
    top: 100px;
    text-shadow: 0px 0px 10px var(--gg2);
}
